<h2 id="title">Cameron Helkuik</h2>
<p>Hi, I'm Cameron Helkuik an always curious, full stack developer who loves to learn new things and see an idea through from beginning to end. I am also a cat lover, drummer, and tattoo enthusiast. </p>

  <section class="web">
    <div class="web--yellow-section">
      <h1 class="web--title">Websites</h1>
      <div class="web--overlay"></div>
    </div>
    <div class="web--new-grit beforeScroll">
      <img class="new-grit--img" src="assets/new-grit-img.png">
      <div class="new-grit--title">New Grit Soap Co.</div>
      <div class="new-grit--content">
        <p>New Grit Soap Co. is a handmade soap and body products company. This website started with custom HTML, CSS and JavaScript and then was migrated into a basic Wordpress theme. </p>
        <a class="links" href="http://www.newgritsoapco.com" target="_blank">Live Website</a>
      </div>
    </div>
      
    <div class="web--megan-smith">
      <img class="megan-smith--img" src="assets/meganSite.png">
      <div class="megan-smith--title">Megan Smith Psychotherapist</div>
      <div class="megan-smith--content">
        <p>Megan Smith is a Psychotherapist in Omaha Ne. This website is a current project that I am working on which started with custom HTML, CSS and JavaScript. It will then be migrated into a basic Wordpress theme. </p>
        <a class="links" href="https://github.com/camhelkuik/megan-smith-website" target="_blank">View Code</a>
      </div>
    </div>
    
  </section>
    
    
  <section class="code">
    <div class="code--yellow-space">
      <h1 class="code--title">Code</h1>
      <div class="code--overlay"></div>
    </div>
    <div class="code--orm">
      <img class="orm--img" src="assets/orm-img.png">
      <div class="orm--title">ORM</div>
      <div class="orm--content">
        <p>The Object Relational Mapping code that I created was part of the Omaha Code School curriculum. Each student created our own ORM to be used for many different projects before being introduced to ActiveRecord.</p>
        <a class="links" href="https://github.com/camhelkuik/07-13-API-project/blob/master/models/database_class_methods.rb" target="_blank">View Code</a>
      </div>
    </div>
          
    <div class="code--password">
      <img class="password--img" src="assets/orm-img.png">
      <div class="password--title">Password Encryption</div>
      <div class="password--content">
        <p>This code is an example of encrypting passwords for logging in and signing up in Ruby on Rails using BCrypt. I also implemented the use of session ids so the user can only see their information. </p>
        <a class="links" href="https://github.com/camhelkuik/07-22-project-warm-up/blob/master/app/controllers/users_controller.rb" target="_blank">View Code</a>
      </div>
    </div>
    
  </section>
    
    
  <section class="resume">
    <div class="resume--yellow-section">
      <h1 class="resume--title">Resume</h1>
      <div class="resume--overlay"></div>
    </div>
    <div class="resume--content">
      <h1 class="content--title">Skills</h1>
      <div class="content--skills">
        <ul class="skills--1">
          <li>Object Oriented CSS</li>
          <li>HTML 5</li>
          <li>Sinatra</li>
          <li>Ruby</li>
          <li>Front End </li>
        </ul>
        <ul class="skills--2">
          <li>Github</li>
          <li>Wordpress</li>
          <li>Responsive Web Development</li>
          <li>Mobile First Web Development</li>
          <li>Vanilla JavaScirpt</li>
        </ul>
        <ul class="skills--3">
          <li>GreenSock</li>
          <li>Object Relational Models</li>
          <li>Ruby Gems</li>
          <li>AJAX</li>
          <li>SQL</li>  
        </ul>
      </div>
      
      <div class="content--education">
        <h1 class="education--title">Education</h1>
        <div class="education--OCS">
          <h1 class="OCS--title">Omaha Code School - June thru August 2015</h1>
          <p class="OCS--info">Intensive coding school, estimated 1000 hours of coding. Learned Ruby, JavaScript, HTML, CSS, SQL databases.</p>
        </div>
        
        <div class="education--UNL">
          <h1 class="UNL--title">University of Nebraska - 2005 thru 2009</h1>
          <p class="UNL--info">Bachelor's Degree - Environmental Studies</p>
        </div>
      </div>
        
      <div class="content--jobs">
        <h1 class="jobs--title">Jobs</h1>
        <div class="jobs--artifact">
          <h1 class="artifact--title">Artifact Bag Co.</h1>
          <p class="artifact--info">Cut and sewed wax canvas and leather bags and aprons, finished bags and aprons before shipping, ran shop while owner was away on business, helped train other stitchers, helped problem solve new designs and patterns.</p>
        </div>
      
        <div class="jobs--rose">
          <h1 class="rose--title">The Rose Theater</h1>
          <p class="rose--info">Maintained the large selection of costumes through organizing, tracking, cleaning and repairing, customer service including on the fly costuming of customers.</p>
        </div>
      
        <div class="jobs--NHS">
          <h1 class="NHS--title">The Nebraska Humane Society</h1>
          <p class="NHS--info">Supervised the daily operations of the animal care department, performed recruitment of new employees, training of employees, yearly reviews and disciplinary actions.</p>
        </div>
      
      </div>
    </div>
      
    </section>
        
    <section class="other">
      <div class="other--yellow-section">
        <h1 class="other--title">Other Projects</h1>
        <div class="other--overlay"></div>
      </div>
      <div class="other--VF">
        <img class="VF--img" src="assets/VF.jpg">
        <div class="VF--title">Violent Fade</div>
        <div class="VF--content">
          <p>Violent Fade is a progressive instrumental rock band in which I drum/write for. We recently just released our frist album and are in the writing process for our second.</p>
          <a class="links" href="https://www.violentfade.bandcamp.com/releases" target="_blank">View BandCamp</a>
        </div>
      </div>
      
      <div class="other--BKB">
        <img class="BKB--img" src="assets/Logo.jpeg">
        <div class="BKB--title">BareKnuckle Bazaar</div>
        <div class="BKB--content">
          <p>BareKnuckle Bazaar is a side business I started that focuses on making leather utility goods.</p>
          <a class="links" href="https://www.etsy.com/shop/bareknucklebazaar" target="_blank">View Etsy Shop</a>
        </div>
      </div>     
    
    </section>
        
  
    <section class="contact">
      <div class="contact--yellow-section">
        <h1 class="contact--title">Contact</h1>
        <div class="contact--overlay"></div>
      </div>
    
      <div class="contact--all">
    
        <a class="contact--git" href="http://github.com/camhelkuik" target="_blank">Github</a>

        <a class="contact--linkedin" href="https://www.linkedin.com/pub/cameron-helkuik/53/9a4/875" target="_blank">Linkedin</a>

        <a class="contact--twitter" href="https://twitter.com/camhelkuik" target="_blank">Twitter</a>
    
        <h1 class="contact--email-title">Email:</h1>
        <p class="email-title--address">cameronhelkuik@gmail.com</p>
      </div>
    
    </section>

{{outlet}}
